@media screen and (max-width: 1450px) {
  .cards-row__content {
    width: calc(100% + 18px);
    padding-left: 9px;
    padding-right: 9px;
    margin-left: -9px;
    margin-right: -9px;
  }
  .single-carrier .img {
    margin-right: 8%;
  }
}

@media screen and (max-width: 1400px) {

  .header-top__menu ul {
    margin-left: 25px;
  }
  .header-phones {
    margin-left: 25px;
  }
  .header-search {
    width: 27%;
  }
  .header-acc {
    margin-left: auto;
  }
}

@media screen and (max-width: 1200px) {
  .single-carrier .hidden-text {
    max-height: 380px;
  }
  .footer-top__container .left {
    margin-right: 7%;
  }
  .subscribe-container .text span {
    font-size: 24px;
  }
  .subscribe-container .img {
    width: 150px;
    height: 150px;
  }
  .subscribe-container {
    padding: 60px;
  }
  .subscribe-container .text p {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 15px;
  }
  .shares__single {
    .text {
    }
    .head {
      > span {
        font-size: 14px;
      }
      > p {
        font-size: 21px;
        margin: 11px 0 18px;
        max-width: 270px;
      }
    }
    .head, .timer, .btn-container {
      padding-left: 25px;
    }
    .timer {
      padding-right: 25px;
    }
  }
  .header-lang {
    margin-left: 4%;
  }
  .header-search {
    margin-left: 2%;
  }
  .header-lang span {
    padding: 4px 20px;
  }
  .header-cart a {
    padding: 15px 22px;
  }
  .header-top__menu ul li {
    padding-right: 24px;
    margin-right: 24px;
  }
  .header-acc a {
    padding: 0 12px;
  }
  .home-slider {
    height: 340px;
  }
  .header-catalog__nav>ul>li a {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
@media screen and (max-width: 1050px) {
  .social-fol__content {
    column-gap: 8px;
  }
  .social-fol__head p {
    font-size: 24px;
    line-height: 1.5;
  }
  .social-fol__head {
    margin-bottom: 24px;
  }
  .inst-post {
    width: calc((100% / 4) - (24px / 4));
    padding-top: calc((100% / 4) - (24px / 4));
  }
  .single-carrier .hidden-text {
    max-height: 310px;
  }
  .single-carrier .text ul li::after {
    top: 8px;
  }
  .single-carrier .text h2 {
    font-size: 22px;
    margin-bottom: 9px;
  }
  .single-carrier .text {
    font-size: 14px;
    line-height: 1.5;
  }
  .hero-text {
    padding: 18px 0 60px;
  }
  .page-title {
    font-size: 24px;
    line-height: 1.3;
    margin-top: 28px;
  }
  .shares-page {
    margin: 30px 0 10px;
  }
  .shares__tabs {
    flex-wrap: wrap;
  }
  .share-tab {
    width: calc(25% - (45px / 4));
    &:last-child {
      margin-right: 0;
    }
  }
  .footer-top {
    padding: 55px 0 20px;
  }
  .subscribe-container .text {
    max-width: 310px;
  }
  .seo-text {
    h1 {
      font-size: 26px;
    }
    h2 {
      font-size: 24px;
    }
    h3, h4, h5, h6 {
      font-size: 18px;
    }
    p, span, li, strong {
      font-size: 14px;
    }
  }
  .shares.has-shadow, .seo-section.has-shadow {
    padding-top: 54px;
  }
  .shares__single {
    width: calc(50% - 5px);
    margin-right: 10px;
  }
  .shares {
    margin-bottom: 60px;
  }
  .shares__single .timer {
    margin-bottom: 16px;
  }
  .cards-row__content {
    min-height: 220px;
  }
  .single-card .rate p {
    font-size: 11px;
  }
  .single-card .btn--cart {
    width: 54px;
    height: 54px;
  }
  .single-card .text>span {
    -webkit-line-clamp: 2;
  }
  .single-card .fav {
    padding: 10px;
  }
  .cards-row__content {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: -12px;
    margin-bottom: -12px;
  }
  .single-card .price p {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    display: flex;
    strong {
      margin-left: 0;
      line-height: 12px;
    }
  }
  .rating-stars {
    margin-right: 4px;
  }
  .rating-stars img {
    width: 11px;
    height: 11px;
  }
  .single-card {
    padding: 10px 15px;
    .img {
      margin-top: 50px;
      height: 120px;
      margin-bottom: 12px;
    }
    .rate {
      margin: 16px 0 25px;
    }
    .text {
       & > span {
         font-size: 12px;
         line-height: 1.2;
       }
      & > p {
        font-size: 12px;
        line-height: 1.2;
      }
    }
  }
  .single-card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  }
  .cards-row__head {
    margin-bottom: 24px;
  }
  .title {
    font-size: 24px;
    line-height: 1.2;
  }
  .cards-row {
    margin-bottom: 63px;
    .slide-btns {
      display: none;
    }
    .dots {
      display: flex;
    }
  }
  .single-card:hover .text>p {

  }
  .home-banner {
    margin-bottom: 56px;
  }
  main {
    margin-top: 10px;
  }
  .home-slider {
    height: 340px;
  }
  .home-banner__container {
    margin-left: 0;
    width: 100%;
  }
  .backplate-menu.visible {
    opacity: 0;
  }
  .header-bottom, .header-top {
    display: none;
  }
  .times-sub {
    z-index: 2;
    width: 100%;
    padding: 5px 10px;
  }
  .phones-sub {
    width: 100%;
    z-index: 2;
    padding: 5px 10px;
  }
  .single-phone {
    margin-bottom: 6px;
  }
  .single-time {
    padding: 0 0 10px 10px;
  }
  .header-catalog__nav>ul>li ul {
    padding: 0;
    li {
      border-bottom: 1px solid rgba(18, 18, 18, 0.4);
      &:first-child {
        border-top: 1px solid rgba(18, 18, 18, 0.4);
      }
    }
  }
  .header-catalog__nav>ul>li a {
    padding: 5px 20px 5px 20px;
  }
  .header-catalog__nav>ul>li a>img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .header-catalog__nav ul {
    position: relative;

    li.menu-item-has-children {
      position: static;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      > ul {
        position: static;
        width: 100%;
        opacity: 1;
        z-index: 2;
        display: none;
      }
      &.active, &:hover {
        > ul {
          position: static;
          width: 100%;
          opacity: 1;
          z-index: 2;

          visibility: visible;
          display: flex;
          pointer-events: auto;
        }
      }
    }
  }
  .header-mob {
    display: flex;
    width: 100%;
  }
  .home {
    .header-catalog__nav {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      display: none;
    }
    .header.is-fixed {
      .header-catalog__nav {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
    }
  }
  .header-catalog {
    width: 33%;
    &:hover {
      .header-catalog__nav {
        opacity: 0 !important;
        visibility: hidden !important;
        pointer-events: none !important;
      }
    }
    &.active {
      .header-catalog__nav {
        opacity: 1 !important;
        visibility: visible !important;
        pointer-events: auto !important;
        display: flex;
        z-index: 2;
      }
    }
  }
  .header-mob__menu .header-catalog.active .header-catalog__btn, .header-mob__menu .header-catalog:hover .header-catalog__btn {
    background: #fff;
  }
}
@media screen and (max-width: 992px) {
  .carrier {
    padding: 60px 0;
  }
  .carrier-container {
    margin-bottom: 30px;
  }
  .single-carrier .text p {
    margin-bottom: 20px;
  }
  .single-carrier .text .btn {
    margin-top: 27px;
  }
  .single-carrier .text ul {
    margin-bottom: 14px;
  }
  .single-carrier .text span{
    margin-bottom: 14px;
  }
  .single-carrier .img img {
    top: 11px;
    left: 11px;
    bottom: 11px;
    width: calc(100% - 22px);
  }
  .single-carrier .img {
    margin-right: 30px;
  }
}
@media screen and (max-width: 922px) {
  .modal-container {
    padding-top: 53px;
    padding-bottom: 55px;
  }
  .modal-title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 24px;
  }

  .shares__content {
    margin-bottom: 30px;
  }
  .shares-container {
    row-gap: 30px;
  }
  .footer-menu ul {
    columns: 3;
    max-height: 450px;
  }
  .footer-menu ul li {
    margin-bottom: 20px;
  }
  .subscribe {
    padding: 50px 0 0;
  }
  .subscribe-container {
    flex-wrap: wrap;
    .text {
      width: 50%;
      padding-right: 30px;
      box-sizing: border-box;
      max-width: none;
    }
    .form-sub {
      width: 50%;
      margin: 0;
      .btn {
        width: 100%;
      }
    }
    .img {
      margin-top: 10px;
    }
  }
}
@media screen and (max-width: 767px) {
  .shares__tabs {
    row-gap: 15px;
    margin-bottom: 30px;

  }
  .share-tab::after {
    width: 20px;
    height: 20px;
    right: 12px;
  }
  .share-tab {
    width: calc(50% - (15px / 2));
    padding-left: 0;
    &:nth-child(even) {
      margin-right: 0;
    }
  }
  .footer-bottom__container {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    > ul {
      justify-content: center;
      width: 100%;
      order: 1;
    }
    .header-social {
      order: 2;
      margin: 10px 0;
    }
    .copyr {
      order: 3;
    }
  }
  .footer-menu ul {
    columns: 2;
    max-height: 700px;
  }
  .shares-container {
    flex-wrap: wrap;
  }
  .shares__single {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .single-card .text>span {
    margin-bottom: 0;
  }
  .single-card .text>p {
    display: none;
  }
  .single-card .rate {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    > p {
      margin-top: 6px;
    }
  }
  .single-card .img {
    height: 100px;
  }
}
@media screen and (max-width: 700px) {
  .subscribe-container .img {
    width: 60px;
    height: 60px;
    order: 1;
  }
  .subscribe-container {
    padding: 60px 9px 50px;
    width: calc(100% + 18px);
    margin-left: -9px;
    margin-right: -9px;
  }
}
@media screen and (max-width: 600px) {
  .button-cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .btn {
      margin-bottom: 14px;
    }
  }
  .check-cont span {
    padding-left: 19px;
    &::before {
      width: 14px;
      height: 14px;
    }
  }
  .file-upload {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
  .social-fol__head {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    p {
      margin-bottom: 6px;
    }
  }
  .inst-post {
    width: calc(50% - 4px);
    padding-top: calc(50% - 4px);
  }
  .single-carrier .text h2 {
    font-size: 18px;
    line-height: 1.2;
  }
  .single-carrier {
    flex-direction: column;
    align-items: flex-start;
    .img {
      width: 100%;
      padding-top: 95%;
      margin-bottom: 25px;
      margin-right: 0;
    }
    .text {
      width: 100%;
      .hidden-text {
        max-height: 240px;
      }
    }
  }
  .pagination ul {
    justify-content: space-between;
    li {
      a, span {
        width: 43px;
        height: 43px;
      }
    }
  }
  .footer-bottom {
    padding-bottom: 0;
  }
  .footer-bottom__container {
    .copyr {
      width: calc(100% + 18px);
      margin-left: -9px;
      margin-right: -9px;
      padding: 14px 9px;
      box-sizing: border-box;
      border-top: 1px solid #505050;
    }
    align-items: flex-start;
    > ul {
      columns: 2;
      display: inline-block;
      max-height: 150px;
      li {
        margin-bottom: 10px;
        a {
          padding: 0;
        }
      }
    }
  }
  .footer-top__container {
    flex-direction: column;
    align-items: flex-start;

  }
  .footer-menu {
    margin-top: 15px;
    width: calc(100% + 18px);
    margin-left: -9px;
    margin-right: -9px;
    padding: 14px 9px 0;
    box-sizing: border-box;
    border-top:  1px solid #313131;
    ul {
      li {
        margin-bottom: 18px;
      }
    }
  }
  .shares__single .timer {
    margin-bottom: 174px;
  }
  .subscribe-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .text {
      width: 100%;
      padding: 0;
      margin-bottom: 15px;
      order: 2;
      margin-top: 15px;
    }
    .form-sub {
      width: 100%;
      margin: 0;
      order: 3;
    }

  }
}
@media screen and (max-width: 374px) {
  .footer-menu ul {
    li {
      margin-bottom: 10px;
      a {
        font-size: 12px;
      }
    }

  }
  .pagination ul li a, .pagination ul li span {
    width: 35px;
    height: 35px;
  }
  .social-fol__head p {
    font-size: 22px;
    line-height: 1.2;
  }

}