@import "fonts";


$main-font: 'Gilroy', sans-serif;
$second-font: 'HelveticaNeueCyr', sans-serif;
$size: 13px;
$black: #484848;
$grey: #9E9E9E;
$orange: #FE6400;
$bg: #242424;
$image-bg: #4D4D4D;
$gradient: linear-gradient(180deg, #4592CA 0%, #1877BD 100%);
$white: #ffffff;
$blue: #1FAEE9;
$red: #ffcba5;
$grey: #696969;
$grey-light: #818181;

$black: #242424;

$main-green: linear-gradient(90deg, #CCD500 0%, #D7FA00 100%);
$green: #D7FA00;

$light-c7: #c7c7c7;
body, html {
  margin: 0;
  font-family: $main-font;
  min-width: 320px;
  //overflow-x: hidden;
  //background: $black;
  //scroll-behavior: smooth;
  //&.no-scroll {
  //  overflow: hidden;
  //}

}

body {
  //overflow-x: hidden;
  max-width: 100%;

  &.fixed {
    position: fixed;
  }
}

* {
  letter-spacing: 0;
  //font-family: $main-font;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


img.lazyload, video.lazyload {
  opacity: 0;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.is-loaded {
  opacity: 0;
  visibility: visible;
  //transition: opacity 0.3s ease, visibility 0.3s ease;
  animation: faddingImgAnim 0.5s ease;
}


@keyframes faddingImgAnim {
  0% {
    visibility: hidden;
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    filter: blur(0px);
  }
}


.container {
  width: 100%;
  max-width: 1428px;
  padding: 0 9px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container-little {
  width: 100%;
  max-width: 1162px;
  padding: 0 19px;
  margin: 0 auto;
  box-sizing: border-box;
}

.big-container {
  width: 100%;
  max-width: 1740px;
  padding: 0 19px;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
  font-family: $main-font;

  &.no-scroll {
    overflow: hidden;
  }
}


.wrapper {
  width: 100%;
}

html {
  height: auto;
  min-height: 100%;
  font-size: 16px;
  display: flex;
}

.wrapper,
body {
  height: auto;
}

main {
  flex-grow: 1;
  //overflow: hidden;

  display: flex;
  flex-direction: column;
  //transition: padding-top 0.4s ease;

}


p, h1, ul, ol, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer {
  flex-shrink: 0;
  position: relative;
  width: 100%;
}

.header {
  width: 100%;
  position: relative;
  z-index: 10;
  background: #fff;
  box-shadow: 0 0 30px 4px rgba(18, 18, 18, 0.08);
  transition: top 0.3s ease;

  &.is-fixed {
    position: sticky;
    top: -47px;
  }

}

.header-top {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  border-bottom: 1px solid #ECECEC;
  box-sizing: border-box;

  .logo {
    width: 330px;
    height: 46px;

    a, img {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }
  }
}

.header-top__container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  flex-grow: 1;
}

.header-top__menu {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  margin-right: 15px;

  ul {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;
    margin-left: 51px;

    li {
      height: 100%;
      position: relative;
      padding-right: 35px;
      margin-right: 35px;
      box-sizing: border-box;


      a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        text-transform: capitalize;
        color: #353535;

        text-decoration: none;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;

        transition: color 0.3s ease, border 0.3s ease;

        border-bottom: 1px solid rgba(255, 255, 255, 0);

        img {
          display: none;
        }

        &:hover, &.active {
          color: #888888;
          border-bottom: 1px solid #828282;
          transition: color 0.3s ease, border 0.3s ease;

        }

        &::after {
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background: #C4C4C4;
          display: inline-block;
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(50%, -50%);
        }
      }

      &:last-child {
        padding-right: 0;
        margin-right: 0;

        a {
          &::after {
            content: none;
          }
        }
      }
    }
  }
}

.header-social {
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15px;
        width: 15px;
        opacity: 0.4;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 1;
          transition: opacity 0.3s ease;
        }

        img {
          height: 15px;
          width: auto;
        }
      }
    }
  }
}

.header-lang {
  height: 100%;
  margin-left: 8.5%;
  position: relative;

  ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    li {
      width: 100%;

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #353535;
        background: #F1F1F1;
        border-top: 1px solid #ececec;
        box-sizing: border-box;
        text-decoration: none;
        padding: 16px;
      }
    }
  }

  span {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 4px 31px;
    box-sizing: border-box;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #353535;
    background: #F1F1F1;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background: #d9d8d8;
      transition: background-color 0.3s ease;
    }

    &::after {
      width: 8px;
      height: 5px;
      margin-left: 4px;
      display: inline-block;
      content: '';
      background: url("../img/down-arr.svg") no-repeat center/100%;
    }
  }

  &:hover {
    ul {
      transition: opacity 0.3s ease, visibility 0.3s ease;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}

.header-catalog__nav {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.header.is-fixed {
  .header-catalog__nav {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.home {
  .header-catalog__nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .header.is-fixed {
    .header-catalog__nav {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
}



.header-catalog {
  width: 330px;

  box-sizing: border-box;
  position: relative;

  &.active, &:hover {
    .header-catalog__btn {
      transition: background-color 0.4s ease, color 0.4s ease, border 0.4s ease;

      background: #F6F6F6;
      color: #331E0E;
      border: 2px solid #331E0E;
    }

    .header-catalog__nav {
      opacity: 1 !important;
      pointer-events: auto !important;
      visibility: visible !important;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }
  }
}

.backplate-menu {
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #3f4e5db8;
  backdrop-filter: blur(5px);
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;

  &.visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
  }
}

.header-catalog__btn {
  padding: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  background: #FFFFFF;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0);

  &::before {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    display: inline-block;
    content: '';
    background: url("../img/men-cat.svg") no-repeat center/ 100%;
  }

  transition: background-color 0.4s ease, color 0.4s ease, border 0.4s ease;

}

.header-bottom {
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: -1px;
}

.header-catalog__nav {
  background: #FFFFFF;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
  padding: 23px 0;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  > ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

    > li {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      ul {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 23px 0;
        box-sizing: border-box;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        box-shadow: 0 4px 22px rgba(0, 0, 0, 0.08);
        transition: opacity 0.3s ease, visibility 0.3s ease;

        li {
          width: 100%;

          a {
            padding: 11px 20px 11px 28px;
          }
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #353535;
        text-decoration: none;
        transition: color 0.4s ease, background-color 0.4s ease;
        padding: 9px 20px 8px 28px;
        box-sizing: border-box;
        width: 100%;
        position: relative;

        &::after {
          position: absolute;
          right: 20px;
          top: 50%;
          width: 7px;
          height: 7px;
          display: inline-block;
          content: '';
          transform: translate(0, -50%);
          background: url("../img/arr-r-b.svg") no-repeat center/100%;
          transition: transform 0.3s ease;

        }

        > img {
          width: 29px;
          height: 29px;
          margin-right: 14px;
        }

      }
    }

    li {
      &.current-menu-item, &:hover {
        > a {
          background: #F6F6F6;
          color: #888888;
          transition: background-color 0.3s ease, color 0.3s ease;

          &::after {
            transform: translate(0, -50%) rotate(180deg);
            transition: transform 0.3s ease;
          }
        }
      }

      &:hover {
        ul {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          transition: opacity 0.3s ease, visibility 0.3s ease;
        }
      }
    }
  }
}

.header-bot {
  flex-grow: 1;
  height: auto;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.header-phones {
  height: 100%;
  margin-left: 51px;
  position: relative;

  & > a {
    height: 100%;
    display: flex;
    padding: 10px 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #353535;
    text-decoration: none;

    &::after {
      width: 8px;
      height: 5px;
      display: inline-block;
      content: '';
      background: url("../img/down-arr-b.svg") no-repeat center /100%;
      margin-left: 4px;
      transition: transform 0.3s ease;
    }

    img {
      width: 16px;
      height: 16px;
      margin-right: 1px;
    }
  }

  &:hover {
    & > a {
      &::after {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
      }
    }

    .phones-sub {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }
  }

  &:hover {
  }
}

.phones-sub {
  position: absolute;
  top: 100%;
  left: 0;
  width: 307px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.08);
  padding: 31px 33px;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.single-phone {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 165%;
    color: #888888;
    margin-bottom: 5px;
    display: inline-block;
  }

  a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #353535;
    text-decoration: none;
  }
}


.header-time {
  height: 100%;
  margin-left: 36px;
  position: relative;

  & > p {
    height: 100%;
    display: flex;
    padding: 10px 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #353535;
    text-decoration: none;

    &::after {
      width: 8px;
      height: 5px;
      display: inline-block;
      content: '';
      background: url("../img/down-arr-b.svg") no-repeat center /100%;
      margin-left: 4px;
      transition: transform 0.3s ease;
    }

    img {
      width: 13px;
      height: 13px;
      margin-right: 5px;
    }
  }

  &:hover {
    & > p {
      &::after {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
      }
    }

    .times-sub {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }
  }

  &:hover {
  }
}

.times-sub {
  position: absolute;
  top: 100%;
  left: 0;
  width: 277px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.08);
  padding: 31px 33px;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.single-time {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 20px;
  box-sizing: border-box;
  padding-left: 19px;
  border-left: 5px solid #C4B697;

  &:last-child {
    padding-bottom: 0;
  }

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 165%;
    color: #888888;
    margin-bottom: 5px;
    display: inline-block;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #353535;
    text-decoration: none;
  }
}

.header-search {
  width: 33%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-left: 4.7%;

  &::after {
    z-index: 2;
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    background: url("../img/ic-search.svg") no-repeat center/100%;
    pointer-events: none;
  }

  input {
    width: 100%;
    height: 40px;
    padding: 12px 15px;
    box-sizing: border-box;
    border: 1px solid #ECECEC;

    outline: none;

    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #353535;

    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #888888;
    }
  }
}

.header-acc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0;
  box-sizing: border-box;
  margin-left: 3%;

  a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 24px;
    box-sizing: border-box;
    border-right: 1px solid #E7E7E7;
    text-decoration: none;

    img {
      width: 16px;
      height: 16px;
      margin-bottom: 5px;

    }

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #353535;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.header-cart {
  height: auto;
  margin-left: auto;

  a {
    padding: 15px 33px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    text-decoration: none;
    background: #C4B697;
    transition: background-color 0.3s ease;

    span {
      position: absolute;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #CD4631;
      border-radius: 50%;
      padding: 3px;
      width: 20px;
      height: 20px;
      z-index: 1;
      top: 17px;
      right: 19px;
      box-sizing: border-box;
      opacity: 0;
      transition: background-color 0.3s ease;
    }

    img {
      width: 23px;
      height: 23px;
    }

    &.not-empty {
      span {
        opacity: 1;
      }
    }

    &:hover {
      background: #ED452A;
      transition: background-color 0.3s ease;

      span {
        background: #C4B697;
        transition: background-color 0.3s ease;

      }

    }
  }


}

.header-mob__top {
  width: 100%;
  padding: 13px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.header-mob {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

  .logo {
    width: 169px;
    height: 35px;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: auto;

    img, a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }

  .header-cart a {
    padding: 7px 23px;
    background: rgba(255, 255, 255, 0);

    span {
      top: 0;
      right: 10px;
    }
  }

  .header-acc {
    padding: 7px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;

    a {
      padding: 0 24px;
    }
  }

  &.opened {
    .logo {
      opacity: 0;
      pointer-events: none;
    }

    .header-acc {
      opacity: 1;
      pointer-events: auto;
    }

    .header-mob__bot {
      opacity: 0;
      pointer-events: none;
    }

    .header-mob__menu {
      transform: translate(0, 0);
    }
  }
}

.header-burger {
  width: 32px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  span {
    position: absolute;
    display: flex;
    width: 100%;
    height: 5px;
    background: #C4B697;
    left: 0;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease, bottom 0.3s ease, top 0.3s ease, left 0.3s ease;

    &::before {
      display: inline-block;
      position: absolute;
      right: 0;
      width: 100%;
      height: 7px;
      content: '';
      top: 50%;
      transform: translate(0, -60%);
      transition: opacity 0.3s ease;
    }

    &:nth-child(1) {
      top: 0;

      &::before {
        background: url("../img/burg-1.svg") no-repeat center/100%;
      }

    }

    &:nth-child(2) {
      top: 50%;
      transform: translate(0, -50%);

      &::before {
        background: url("../img/burg-2.svg") no-repeat center/100%;
      }

    }

    &:nth-child(3) {
      bottom: 0;

      &::before {
        background: url("../img/burg-3.svg") no-repeat center/100%;
      }

    }
  }

  &.open {
    span {
      &::before {
        opacity: 0;
      }

      &:nth-child(1) {
        top: 50%;
        transform: translate(0, -50%) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        bottom: 50%;
        transform: translate(0, 50%) rotate(-45deg);
      }
    }
  }
}

.header-mob__bot {
  width: 100%;
  padding: 0 0 16px;
  box-sizing: border-box;
  transition: opacity 0.3s ease;

  .header-search {
    width: 100%;
    margin-left: 0;
  }
}

.header-mob__menu {
  width: calc(100% + 18px);
  position: absolute;
  top: 63px;
  height: calc(100vh - 63px);
  background: #fff;
  overflow-y: auto;
  left: -9px;
  right: -9px;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  transition: transform 0.4s ease;
  transform: translate(-120%, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .header-catalog {
    width: 100%;
  }

  .header-catalog.active .header-catalog__btn, .header-catalog:hover .header-catalog__btn {
    border: 2px solid rgba(255, 255, 255, 0);
  }

  .header-catalog__btn {
    background: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #353535;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
  }
}

.header-mob__menu-main {
  width: 100%;
  padding: 27px 9px 0;
  box-sizing: border-box;

  ul {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ECECEC;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 27px;

    li {
      width: 100%;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        position: relative;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.1;
        color: #353535;
        padding-left: 27px;
        box-sizing: border-box;

        img {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
        }

        &::after {
          width: 5px;
          height: 7px;
          display: inline-block;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          content: '';
          background: url("../img/arr-r-b.svg");
        }
      }
    }
  }
}

.header-mob__menu-bot {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 30px 9px 10px;
  box-sizing: border-box;
  row-gap: 30px;
  padding-bottom: 190px;
  background: url("../img/bg-mob-hed.png") no-repeat left bottom/ 230px;

  .header-phones {
    margin-left: 0;
    width: 50%;
  }

  .header-time {
    margin-left: 0;
    width: 50%;
  }

  .header-social {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }
}

.header-mob__lang {
  width: 50%;

  ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    li {
      padding-right: 6px;
      margin-right: 7px;
      box-sizing: border-box;
      border-right: 1px solid #ECECEC;

      &:last-child {
        margin-right: 0;
        padding-left: 0;
        border-right: none;
      }

      a, span {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #353535;
        text-decoration: none;
        text-transform: uppercase;
      }

      a {
        opacity: 0.5;
      }
    }
  }
}

.home-banner {
  width: 100%;
  margin-bottom: 90px;
}

main {
  margin-top: 30px;
}

.home-slider {
  width: 100%;
  height: 477px;

  .swiper-wrapper {
    height: 100%;
    display: flex;
    align-items: stretch;
  }

}

.home-slider__slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  display: flex;

  picture, img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.dots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.single-dot {
  width: 15px;
  height: 3px;
  background: #ECECEC;
  transition: width 0.3s ease, background-color 0.3s ease;
  margin-right: 9px;

  &:last-child {
    margin-right: 0;
  }

  &.active, &.current {
    width: 40px;
    background: #331E0E;
  }
}

.home-banner__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 360px;
  box-sizing: border-box;
  position: relative;


  .btn-slides {
    position: absolute;
    top: calc(50% - 23px);
    transform: translate(0, -50%);
    z-index: 2;
    height: 86px;
    width: 39px;
    border: 2px solid rgba(255, 255, 255, 0);

    svg {
      path {
        fill: #331E0E !important;
      }
    }

    &--prev {
      left: 0;
      border-radius: 0 90px 90px 0;
    }

    &--next {
      right: 0;
      border-radius: 90px 0 0 90px;
    }

    &:hover {
      background: #fff;
      border-color: #C4B697;
    }
  }
}

.btn-slides {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;

  cursor: pointer;
  transition: border 0.3s ease, background-color 0.3s ease;
  border: 1px solid #331E0E;
  width: 49px;
  height: 49px;
  box-sizing: border-box;

  &.swiper-button-disabled {
    opacity: 0.4;
  }

  svg {
    width: 12px;
    height: 12px;

    path {
      fill: #331E0E;
    }
  }

  &--prev {


  }

  &--next {


    svg {
      transform: rotate(180deg);

    }
  }

  &:hover {
    background: #331E0E;

    svg {
      path {
        fill: #fff;
      }
    }

    transition: border 0.3s ease, background-color 0.3s ease;

  }

}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 120%;
  color: #353535;
}

.cards-row {
  width: 100%;
  margin-bottom: 90px;
  
  .dots {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &.has-shadow {
    position: relative;
    padding-top: 90px;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      pointer-events: none;
      background: linear-gradient(180deg, #F9F9F9 0%, rgba(247, 247, 247, 0) 100%);
      height: 120px;
      display: inline-block;
      content: '';
    }
  }
}
.seo-section {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 93px;
  box-sizing: border-box;
  &.has-shadow {
    position: relative;
    padding-top: 90px;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      pointer-events: none;
      background: linear-gradient(180deg, #F9F9F9 0%, rgba(247, 247, 247, 0) 100%);
      height: 120px;
      display: inline-block;
      content: '';
    }
  }
}

.seo-text {
  width: 100%;
  overflow-y: auto;
  max-height: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 30px;
  box-sizing: border-box;
  .container {

  }

  h2, h3, h4, h5, h6, h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 120%;
    color: #353535;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  p, li, span, strong {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    color: #888888;

  }
  ul, ol {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  li {
    margin-bottom: 12px;
    position: relative;
    padding-left: 12px;
    &::before {
      position: absolute;
      top: 11px;
      left: 0;
      width: 6px;
      height: 1px;
      background: #888888;
      display: inline-block;
      content: '';
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  p {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  strong {
    font-weight: bold;
  }
  h3, h4 {
    font-size: 21px;
  }
  h5, h6 {
    font-size: 18px;
  }
  h2 {
    font-size: 34px;
  }
}

.cards-row__head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
  z-index: 2;

  .title {
    margin-right: 20px;
    display: inline-block;
  }

  .slide-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .btn-slides {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.cards-row__content {
  width: calc(100% + 60px);
  display: flex;
  padding: 50px 30px 90px;
  box-sizing: border-box;
  margin: -50px -30px -90px;
  max-height: 540px;
  min-height: 540px;
}

.single-card {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
  padding: 23px 31px;
  box-sizing: border-box;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
  &.swiper-slide-prev {
    box-shadow: none;
  }

  &:hover {
    box-shadow: 0 4px 38px rgba(0, 0, 0, 0.15);
  }

  .btn--cart {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .tags {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .fav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: border 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 21px;
      height: 21px;

      path {
        fill: #888888;
        transition: fill 0.3s ease;
      }
    }

    &.active {
      svg {
        path {
          fill: #ED452A;
        }
      }
    }

    &:hover {
      border: 1px solid #331E0E;
      transition: border 0.3s ease;

    }
  }

  .img {
    height: 168px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 7px;

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  .text {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    > span {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      color: #353535;

      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      margin-bottom: 8px;
    }

    > p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #888888;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      transition: all 0.3s ease;
    }
  }

  .rate {
    margin: 22px 0 23px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      text-decoration-line: underline;
      color: #888888;
    }
  }

  .price {
    display: flex;
    padding-right: 30px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;

    p {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      color: #ED452A;

      strong {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 120%;
        /* identical to box height, or 17px */

        text-decoration-line: line-through;

        color: #989898;
        margin-left: 4px;
      }
    }
  }

  &:hover {
    .text {
      > p {
        display: inline-block;
        transition: all 0.3s ease;
      }
    }
  }
}

.tag {
  padding: 6px 21px;
  box-sizing: border-box;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  background: #F9F9F9;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  &.red {
    color: #ED452A;
  }

  &.green {
    color: #57C055;
  }

  &.yellow {
    color: #DCAD33;
  }
}


.rating-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 6px;

  img {
    width: 18px;
    height: 18px;
    margin-right: 0px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  &--red {
    z-index: 2;
    position: relative;
    width: 186px;
    height: 47px;
    padding: 4px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: color 0.3s ease;
    background: #ED452A;
    mix-blend-mode: initial;
    &::before {
      z-index: -2;
      background: #fff;
      position: absolute;
      width: 0;
      padding-top: 0;
      border-radius: 50%;
      box-sizing: border-box;
      transition: padding-top 0.6s ease, width 0.6s ease;
      display: inline-block;
      content: '';
      bottom: -110%;
      transform-origin: 50% 50%;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &:hover {
      color: #ED452A;
      transition: color 0.6s ease;

      &::before {
        width: 150%;
        padding-top: 150%;
      }
    }
  }
}

.btn--cart {
  padding: 4px;
  width: 63px;
  height: 63px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  background: #C4B697;
  transition: background-color 0.3s ease;

  img {
    width: 19px;
    height: 19px;
    transition: opacity 0.3s ease;
  }

  &::after {
    width: 24px;
    height: 22px;
    display: inline-block;
    content: '';
    background: url("../img/green-check.svg") no-repeat center / 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    filter: drop-shadow(0 0 4px rgba(18, 18, 18, 0.18));
    opacity: 0;

  }

  &:hover, &.active {
    background: #ED452A;
    transition: background-color 0.3s ease;

    span {
      background: #C4B697;
      transition: background-color 0.3s ease;

    }

  }

  &.active {
    img {
      opacity: 0;
    }

    &::after {
      opacity: 1;

    }
  }
}

.shares {
  width: 100%;
  margin-bottom: 90px;
}
.shares-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.shares__single {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  text-decoration: none;
  margin-right: 30px;
  width: calc(50% - 15px);
  &:nth-child(even) {
    margin-right: 0;
  }
  .img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    picture, img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .time {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .timer {
    background: #fff;
    padding: 14px 51px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 39px;
    > span {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 165%;
      color: #353535;
    }
    p {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 165%;
      color: #353535;
    }
  }
  .head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 51px;
    box-sizing: border-box;

    > span {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 165%;
      color: #353535;
    }
    > p {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 120%;
      color: #353535;
      margin-top: 8px;
      margin-bottom: 22px;
      max-width: 350px;
      strong {
        color: #DF742F;
        font-weight: bold;
      }
    }
  }
  .text {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 34px;
    box-sizing: border-box;

  }
  &:hover {
    .btn-container {
      .btn-go {
        p {
          color: #fff;
          transition: color 0.3s ease;
        }
        &::before {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transition: top 0.3s ease, left 0.3s ease, right 0.3s ease, bottom 0.3s ease;

        }
      }
    }
  }
}
.btn-container {
  padding-left: 51px;
  height: 75px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .btn-go {
    width: 150px;
    height: 150px;
    z-index: 2;
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 39px 4px;
    box-sizing: border-box;
    border-radius: 50%;
    background: #fff;

    p {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      text-transform: uppercase;
      color: #ED452A;
      position: relative;
      z-index: 2;
      transition: color 0.3s ease;
    }
    &::before {
      position: absolute;
      top: 50%;
      right: 50%;
      bottom: 50%;
      left: 50%;
      z-index: 1;
      border-radius: 50%;
      transition: top 0.3s ease, left 0.3s ease, right 0.3s ease, bottom 0.3s ease;
      display: inline-block;
      content: '';
      background: #ED452A;
    
    }
  }
}
.subscribe {
  width: 100%;
  padding: 90px 0;
  box-sizing: border-box;
}
.subscribe-container {
  width: 100%;
  background: #F6F6F6;
  padding: 58px 118px 70px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .img {
    margin-left: 0;
    width: 204px;
    height: 204px;
    flex-shrink: 0;
    display: flex;
    a, img {
      width: 100%;
      height: 100%;
      display: flex;
    }
  }
  .text {
    width: 100%;
    max-width: 352px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    span {
      font-style: normal;
      font-weight: bold;
      font-size: 34px;
      line-height: 130%;
      color: #353535;
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 165%;
      color: #353535;
      margin: 18px 0 25px;
    }
  }
  .header-social {
    display: flex;
    margin: 0;
    ul li {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      a {
        width: 18px;
        height: 18px;
        img {
          height: 18px;
        }
      }
    }
  }
}
.form-sub {
  width: 28.365%;
  margin: 0 15px;

}
.form {
  width: 100%;
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .btn {
    margin-top: 15px;
  }
}
.check-cont {
  width: 100%;
  margin-top: 15px;
  display: flex;
  input {
    display: none;
    &:checked {
      & + span {
        &::before {
          background: url("../img/green-check.svg") no-repeat center / 12px;

        }
      }
    }
  }
  span {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 165%;
    color: #888888;
    display: flex;
    padding-left: 22px;
    position: relative;
    &::before {
      width: 15px;
      height: 15px;
      border: 1px solid #D0D0D0;
      display: inline-block;
      content: '';
      position: absolute;
      box-sizing: border-box;
      top: 1px;
      left: 0;
    }
  }

}
.input-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 9px;
  input {
    width: 100%;
    border: none;
    padding: 15px 0;
    box-sizing: border-box;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 165%;
    color: #5a5a5a;
    border-bottom: 1px solid #D0D0D0;
    outline: none;
    background: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 165%;
      color: #888888;
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-top {
  width: 100%;
  background: #181818;
  padding: 64px 0 70px;
  box-sizing: border-box;
}
.footer-top__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  .left {
    width: 210px;
    margin-right: 11%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .numbers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    > a {
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      line-height: 25px;
      text-align: center;
      color: #FFFFFF;
      text-decoration: none;
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 165%;
      color: #747474;
      margin-bottom: 20px;
    }
    ul {
      li {
        margin-bottom: 19px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #FFFFFF;
          text-decoration: none;
        }
      }
    }
  }
  .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    > p {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 165%;
      color: #747474;
    }
  }
}
.logo-foot {
  width: 210px;
  height: auto;
  display: flex;
  margin-bottom: 7px;
  a, img {
    display: flex;
    width: 100%;
    height: auto;
  }
}
.footer-menu {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  ul {
    columns: 4;
    max-height: 310px;
    width: 100%;
    li {
      margin-bottom: 23px;
      a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.2;
        text-decoration: none;
        color: #FFFFFF;
        display: inline-block;
        &:hover, &.active {
          color: #747474;
        }
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}
.footer-bottom {
  background: #333333;
  width: 100%;
  padding: 15px 0;
  box-sizing: border-box;
}
.footer-bottom__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-social {
    margin: 0;
    ul {
      li {
        a {
          filter: invert(1);
        }
      }
    }
  }
  .copyr {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 165%;
    color: #747474;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    li {
      &:last-child {
        margin-right: 0;
      }
      a {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-transform: capitalize;
color: #FFFFFF;
        text-decoration: none;
        padding: 0 15px;
        &:hover , &.active {
          color: #747474;
        }
      }
    }
  }
}

.shares-page {
  width: 100%;
  margin: 100px 0 10px;
  box-sizing: border-box;
}
.shares__head {
  width: 100%;

}
.shares__tabs {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.share-tab {
  width: 210px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #353535;
  margin-right: 15px;
  text-decoration: none;
  padding: 18px 38px 18px 15px;
  box-sizing: border-box;
  box-shadow: none;
  border-top: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
  transition: border 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  &::after {
    width: 23px;
    height: 23px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    display: inline-block;
    content: '';
    transition: background-color 0.3s ease;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
  }
  &:hover, &.active {
    background: #fff;
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.07);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    border-top: 1px solid rgba(255, 255, 255, 0);
  }
  &.active {
    &::after {
      background: url("../img/white-check.svg") no-repeat center/ 14px, #ED452A;
      border: 1px solid rgba(255, 255, 255, 0);
    }
  }
}
.shares__content {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 30px;
  flex-wrap: wrap;
}

.hero {
  width: 100%;
  position: relative;
  .container {
    position: relative;
    z-index: 2;

  }
}
.breadcrumbs {
  width: 100%;
  ul {
    width: 100%;
    overflow-x: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    li {
      box-sizing: border-box;
      margin-right: 7px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &::after {
        width: 5px;
        height: 1px;
        background: #fff;
        display: inline-block;
        content: '';
        margin-left: 5px;
      }
      &:last-child {
        padding-right: 0;
        margin-right: 0;
        &::after {
          content: none;
        }
      }
      a, span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
        text-decoration: none;
      }
      span {
        opacity: 0.55;
      }
    }
  }
}
.hero-text {
  width: 100%;
  padding: 27px 0 79px;
  box-sizing: border-box;

}
.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 120%;
  color: #FFFFFF;
  margin-top: 36px;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
  &::after {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(51, 30, 14, 0.65), rgba(51, 30, 14, 0.65));
  }
  img, picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
}
.carrier {
  width: 100%;
  padding: 100px 0;

}
.carrier-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 100px;
  margin-bottom: 100px;
}
.single-carrier {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .img {
    margin-right: 13.9%;
    width: 37%;
    padding-top: 44.6%;
    position: relative;
    overflow: hidden;
    &::before, &::after {
      width: 76.6%;
      padding-top: 80%;
      background: #EDE6D6;
      position: absolute;
      z-index: 1;
      display: inline-block;
      content: '';
    }
    &::before {
      top: 0;
      right: 0;
    }
    &::after {
      bottom: 0;
      left: 0;
    }
    img {
      position: absolute;
      top: 21px;
      width: calc(100% - 42px);
      left: 21px;
      bottom: 21px;
      object-fit: cover;
      z-index: 2;
    }
  }
  .text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 165%;
    color: #888888;
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 120%;
      color: #353535;
    }
    p {
      margin-bottom: 25px;
    }
    span {
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
  .hidden-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

}
@import "media"; // Always at the end